*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

.firstSection{
    width: 100%;
    height: auto;

    background-image: url("BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}
/*-------------------------------------------------ALLBG--------------------------------------------------------------------------------*/

.ALLBG{
    background-color: #1A1A1A;
}

/*-------------------------------------------------NAVIGATION--------------------------------------------------------------------------------*/

.navContainer{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.title{
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: white;
}

nav ul li a:last-child{
    margin-right: 0;
}

/*----------------------------------------------------NAME-----------------------------------------------------------------------------*/

.name{
    color: white;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
    padding-top: 12%;
    padding-bottom: 12%;
    
    font-family: 'Carter One', cursive;
}

.contactButton{
    color: white;
    font-size: 1vw;

    font-family: 'Courier New', Courier, monospace;
    margin-top: 3vw;
}

.contactButton > div:hover{
    background-color: red;
}

.contactButton > a > div{
    background-color: #af0404;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
}
/*--------------------------------------------------CURVES & lines & more-------------------------------------------------------------------------------*/

.curved{
    background-color: #1A1A1A;
    width: 100%;
    height: 5vw;
    border-radius: 80% 80% 0 0;
    z-index: 2;
}

#divLine{
    margin: 5vw auto;
    border-radius: 50%;
}

#more{
    margin: 2vw auto 0 auto;
    text-align: center;
    color: white;

    font-size: 1.6vw;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

#less{
    margin: 2vw auto 0 auto;
    text-align: center;
    color: white;

    font-size: 1.6vw;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}


/*--------------------------------------------------PROJECTS-------------------------------------------------------------------------------*/

.secondSection{
    display: inline-block;
    width: 100%;
}

.projectTitle{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 1vw;
    font-weight: 600;
}

.category{
    width: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;

    font-size: 1vw;
    font-weight: 700;

    text-transform: uppercase;
}

.category ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.category ul:last-child{
    margin-right: 0;
}

.sort{
    background-color: white;
    padding: .8vw 1.5vw;
    border-radius: 10PX;
}

.sort:hover{
    cursor: pointer;
    background-color: #af0404;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.projectContainer{
    width: 70%;    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    padding-bottom: 2vw;
}

.projectContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.explanation{
    flex-grow: 1;
    padding: 2vw 1.5vw 2vw 1.5vw;

    /* font-family: 'Carter One', cursive; */
    font-size: 1vw;
}

.picture{
    padding: .5vw;
}

.picture > img{
    border-radius: 10px;
}

.projectContent > div{
    background-color: #333333;
    border-radius: 10PX;
    margin: 2vw;
}

.projectContent > div > img{
    max-width: 15vw;
    height: auto;
}
/*--------------------------------------------------ABOUT-------------------------------------------------------------------------------*/

.thirdSection{
    width: 100%;
}

.aboutTitle{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 3vw;
    font-weight: 600;
}

.about{
    padding-top: 6vw;
    padding-bottom: 6vw;

    width: 60%;
    margin: auto;
    text-align: left;

    font-size: 2.5vw;

    display: flex;
    align-content: space-between;

    color: white;

    
    /* font-family: 'Carter One', cursive; */
    font-size: 1vw;
}

.about > div{
   margin:  auto 20px;
}

/*--------------------------------------------------CONTACT-------------------------------------------------------------------------------*/

.contactTitle{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 1vw;
    font-weight: 600;
}

.emailContainer{
    color: white;
    font-size: 1.5vw;

    width: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
}

.inputField{
    padding-top: 15px;
    padding-bottom: 15px;
}

#nameEmail{
    display: flex;
    justify-content: space-between;
}

#name, #email{
    width: 49.5%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0.5vw;
}

#subject{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0.5vw;
}

#message{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 0.5vw;
    min-height: 15vw;
    resize: vertical;
}

.sendContainer{
    display: flex;
    justify-content: flex-end;
}

.sendButton{
    background-color: #af0404;

    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1vw;

    display: inline-block /*fit Content*/
}

.or{
    text-align: center;

    color: white;
    font-size: 2vw;
}

.otherContact{
    width: 70%;
    padding: 6vw 3vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    text-align: center;
    color: white;
    font-size: 1vw;
}

.logo > img{
    max-width: 80px;
    width: 15vw;
}


/*--------------------------------------------------FOOTER-------------------------------------------------------------------------------*/

footer{
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 35px;
}

@media screen and (max-width:400px){
    .about{
        width: 100%;
    }
}